h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0px;
}


.filter-container {
  display: flex;
  padding: 7px;
  min-width: 200px;
  border-radius: 6px;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.search-input {
  height: 24px;
}