.App {
  text-align: center;
}

.main {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  padding: 70px 10px 0px 10px;
  height: 90vh ;
  gap:10px
}


.product-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}